*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
}
.parents{
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 30px;
  display: flex;
  gap: 30px;
}
.cards{
  height: 300px;
  width: 270px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards .top{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.top img{
  height: 30px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid  #dadada;
  padding: 2px;

}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.center .h3{
  font-size: 18px;
  font-weight: 500px;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;

}
.center .tag{
  display: flex;
  gap: 5px;
}
.center .tag h4{
  font-size: 12px;
  background-color: transparent;
  pad: 3px 4px;
  font-weight: 500;
}
.bottom button{
  background-color: black;
  color: wheat;
  padding: 5px 10px;
  border: none;
  border: 5px;
  column-width: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}